@model phantientuan_2110900045.Models.NguoiDung
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ThemTaiKhoan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm tài khoản</h1>

<h4>Người dùng</h4>
@TempData["Message"]
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemTaiKhoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usename" class="control-label">Tên tài khoản</label>
                <input asp-for="Usename" class="form-control" />
                <span asp-validation-for="Usename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiUser" class="control-label">Loại Người Dùng (1 là Admin, rỗng Khách hàng)</label>
                <input asp-for="LoaiUser" class="form-control" />
                <span asp-validation-for="LoaiUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo tài khoản mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TaiKhoanNguoiDung">Quay trở lại</a>
</div>
